<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Page</title>
    <link rel="stylesheet" href="../styles/card.css">
</head>

<body>
    <header class="header-container">
        <nav class="header-wrapper">
            <div class="title">
                <p>MovieMemoir</p>
            </div>
            <div class="nav-item2">
                <div class="avatar-container">
                    <img src="../assets/avatar.jpg" class="avatar" alt="">
                </div>
            </div>
        </nav>
    </header>
    <div id="card-content"></div>
    <footer class="footer">
        <p>&copy; CopyRight VB</p>
        <p><span class="footer2">Terms</span> and <span class="footer2">Privacy Policy</span></p>
    </footer>
    <script src="../js/card.js"></script>
</body>

</html>