<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Page</title>
    <script src="card.js"></script>
</head>

<body>
    <header class="header-container">
        <nav class="header-wrapper">
            <div class="title">
                <p>MovieMemoir</p>
            </div>
            <div class="nav-item2">
                <div class="avatar-container">
                    <img src="../assets/avatar.jpg" class="avatar" alt="">
                </div>
            </div>
        </nav>
    </header>
    <div id="card-content"></div>
    <script src="../js/card.js"></script>
</body>

</html>