<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/Home.css">
    <title>MovieMemoir</title>
</head>

<body>
    <!-- Header Component -->

    <header class="header-container">
        <nav class="header-wrapper">
            <div class="title">
                <p>MovieMemoir</p>
            </div>
            <div class="nav-item2">
                <a href="#popup1">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30"
                            fill="#ffffff">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                        </svg>
                    </button>
                </a>
                <div class="avatar-container">
                    <a href="../views/Profile.html"><img src="../assets/avatar.jpg" class="avatar" alt=""></a>
                </div>
            </div>
        </nav>
    </header>


    <!-- Slider Component -->

    <div id="slider">
        <div class="slides">
            <img class="img" src="../assets/m1.jpg" width="100%" />
        </div>
        <div class="slides">
            <img class="img" src="../assets/m2.jpg" width="100%" />
        </div>
        <div class="slides">
            <img class="img" src="../assets/m3.jpg" width="100%" />
        </div>
        <div class="slides">
            <img class="img" src="../assets/m4.jpg" width="100%" />
        </div>
        <div class="slides">
            <img class="img" src="../assets/m5.jpeg" width="100%" />
        </div>
        <div id="dot"><span class="dot"></span><span class="dot"></span><span class="dot"></span><span
                class="dot"></span><span class="dot"></span></div>
    </div>

    <!-- First Slider -->

    <div class="heading-container">
        <h1>Popular Movies</h1>
    </div>
    <div id="container">
        <div id="slider-container">
            <span onclick="slideRight1()" class="btn">&lt;</span>
            <div id="slider1" class="slider1">
            </div>
            <span onclick="slideLeft1()" class="btn">&gt;</span>
        </div>
    </div>

    <div class="heading-container">
        <h1>Trending Movies</h1>
    </div>
    <div id="container">
        <div id="slider-container">
            <span onclick="slideRight2()" class="btn1">&lt;</span>
            <div id="slider1" class="slider2">
            </div>
            <span onclick="slideLeft2()" class="btn1">&gt;</span>
        </div>
    </div>

    <div class="heading-container">
        <h1>TopRated Movies</h1>
    </div>
    <div id="container">
        <div id="slider-container">
            <span onclick="slideRight3()" class="btn2">&lt;</span>
            <div id="slider1" class="slider3">
            </div>
            <span onclick="slideLeft3()" class="btn2">&gt;</span>
        </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
        <p>&copy; CopyRight VB</p>
        <p><span class="footer2">Terms</span> and <span class="footer2">Privacy Policy</span></p>
    </footer>

    <!-- Search Popup -->
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Search for a Movie</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                <input type="text" name="search" id="search" placeholder="Type Movie Name">
            </div>
            <div id="results"></div>
        </div>
    </div>

    <script src="../js/Home.js"></script>
</body>

</html>