<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/Home.css">
    <title>MovieMemoir</title>
</head>

<body>
    <!-- Header Component -->

    <header class="header-container">
        <nav class="header-wrapper">
            <div class="title">
                <p>MovieMemoir</p>
            </div>
            <div class="nav-item2">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" fill="#ffffff">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                    </svg>
                </button>
                <div class="avatar-container">
                    <img src="../assets/avatar.jpg" class="avatar" alt="">
                </div>
            </div>
        </nav>
    </header>


    <!-- Slider Component -->

    <div id="slider">
        <div class="slides">
            <img class="img" src="../assets/m1.jpg" width="100%" />
        </div>
        <div class="slides">
            <img class="img" src="../assets/m2.jpg" width="100%" />
        </div>
        <div class="slides">
            <img class="img" src="../assets/m3.jpg" width="100%" />
        </div>
        <div class="slides">
            <img class="img" src="../assets/m4.jpg" width="100%" />
        </div>
        <div class="slides">
            <img class="img" src="../assets/m5.jpeg" width="100%" />
        </div>
        <div id="dot"><span class="dot"></span><span class="dot"></span><span class="dot"></span><span
                class="dot"></span><span class="dot"></span></div>
    </div>

    <!-- First Slider -->

    <div class="heading-container">
        <h1>Demo Movies</h1>
    </div>
    <div id="container">
        <div id="slider-container">
            <span onclick="slideRight()" class="btn">&lt;</span>
            <div id="slider1">
                <div class="slide"><span>1</span></div>
                <div class="slide"><span>2</span></div>
                <div class="slide"><span>3<span></div>
                <div class="slide"><span>4</span></div>
                <div class="slide"><span>5</span></div>
                <div class="slide"><span>6</span></div>
                <div class="slide"><span>7</span></div>
                <div class="slide"><span>8</span></div>
                <div class="slide"><span>9</span></div>
                <div class="slide"><span>10</span></div>
            </div>
            <span onclick="slideLeft()" class="btn">&gt;</span>
        </div>
    </div>

    <div class="heading-container">
        <h1>Demo Movies</h1>
    </div>
    <div id="container">
        <div id="slider-container">
            <span onclick="slideRight()" class="btn">&lt;</span>
            <div id="slider1">
                <div class="slide"><span>1</span></div>
                <div class="slide"><span>2</span></div>
                <div class="slide"><span>3<span></div>
                <div class="slide"><span>4</span></div>
                <div class="slide"><span>5</span></div>
                <div class="slide"><span>6</span></div>
                <div class="slide"><span>7</span></div>
                <div class="slide"><span>8</span></div>
                <div class="slide"><span>9</span></div>
                <div class="slide"><span>10</span></div>
            </div>
            <span onclick="slideLeft()" class="btn">&gt;</span>
        </div>
    </div>

    <div class="heading-container">
        <h1>Demo Movies</h1>
    </div>
    <div id="container">
        <div id="slider-container">
            <span onclick="slideRight()" class="btn">&lt;</span>
            <div id="slider1">
                <div class="slide"><span>1</span></div>
                <div class="slide"><span>2</span></div>
                <div class="slide"><span>3<span></div>
                <div class="slide"><span>4</span></div>
                <div class="slide"><span>5</span></div>
                <div class="slide"><span>6</span></div>
                <div class="slide"><span>7</span></div>
                <div class="slide"><span>8</span></div>
                <div class="slide"><span>9</span></div>
                <div class="slide"><span>10</span></div>
            </div>
            <span onclick="slideLeft()" class="btn">&gt;</span>
        </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
        <p>&copy; CopyRight VB</p>
        <p><span class="footer2">Terms</span> and <span class="footer2">Privacy Policy</span></p>
    </footer>
    <script src="../js/Home.js"></script>
</body>

</html>