* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #403b75;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.header-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding-bottom: 1rem;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #302b63;
}

@media (max-width: 768px) {
  .header-container {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
.avatar {
  width: 50px;
  border-radius: 50%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 440px) {
  .nav-item2 {
    gap: 0.5rem;
  }
}

.nav-item2 a {
  transition: all 0.3s ease-out;
}

.nav-item2 button {
  background-color: transparent;
  outline: none;
  border: 0px;
  cursor: pointer;
}

.title p {
  font-size: 24px;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  color: white;
}

.title a {
  text-decoration: none;
}
@media (max-width: 440px) {
  .title p {
    font-size: 20px;
  }
}

.avatar-container {
  cursor: pointer;
}

.footer {
  background-color: #24243e;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  align-items: center;
  gap: 0.25rem;
}

.footer2 {
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer2:hover {
  text-decoration: underline;
}

.banner{
    padding-top: 5rem;
    width: 100%;
    height: 700px;
}

.formm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3rem;
    color: white;
}

.formm button{
    width: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: large;
    background-color: #24243e;
    outline: none;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #f0f0f0;
}

.formm button:hover{
    background-color: #282850;
}

.formm textarea {
    color: black;
    outline: none;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    font-size: 20px;
}

.formm textarea::placeholder{
    color: black;
}

.formm > div{
    display: flex;
    justify-content: center;
    align-items: center;
}